<% if @errors %>
  <ul><% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %></ul>
<% end %>

<div class="new_question_container">
  <%= form_for Question.new do |f| %>
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title, :placeholder => "What's your question? Be specific.", class: "title_input" %></p>
    <p><%= f.label :content %></p>
    <p><%= f.text_area :content, :placeholder => "Enter your question here", class: "content_input" %></p>
    <p><%= f.label :tags %></p>
    <p><%= f.text_area :tags, :value => nil, :placeholder => "Enter tags separated by commas!", class: "tags_input" %></p>
    <%= f.submit "Publish" %>
  <% end %>
</div>
