<div class="question_show_title">
  <h2> <%= @question.title %> </h2>
  <div class="question_show_user">
    Asked by: <%= @question.user.name %>, <%= time_ago_in_words(@question.created_at) %> ago
    <% if logged_in? && @question.user_id == current_user.id  %>
      <%= link_to "Edit", edit_question_path(@question) %> or
      <%= link_to "Delete", {action: "destroy", id: @question.id }, method: :delete, data: {confirm: "Are you sure you want to delete this question?"} %>
    <% end %>
  </div>
</div>

<div class="question_show_container">
  <div class="question_show_votes">
    <div> UP </div>
    <div>
      <span> 0 </span>
    </div>
    <div> DOWN </div>
  </div>
  <div class="question_show_contents">
    <div>
      <span> <%= @question.content %> </span>
    </div>
  </div>
</div>

<div class="question_show_container">
  <div class="question_show_votes"></div>
  <div class="question_show_tags">
    <% @question.tags.each do |tag| %> <span> <%= link_to tag.category, tag_path(tag), class: "question_show_tag_category" %> </span> <% end %>
  </div>
</div>


<div class="question_show_container">
  <div class="question_show_votes"></div>

  <div class="question_show_comments">
    <%= render partial: "comments/show", locals: { type: @question } %>
    <%= render partial: "comments/new", locals: { type: @question } %>
  </div>
</div>


<div class="question_show_answer">
  <%= render partial: "answers/show", locals: { question: @question } %>
</div>

<div class="question_show_new_answer">
  <%= link_to "Add Answer", new_question_answer_path(@question), class: "question_show_new_answer_text" %>
</div>
