<div class="user_show_header">
  <h1> <%= @user.name %>'s Profile </h1>
</div>

<div class="question_list_container">
  <% if @user.questions.any? %>
    <h3> Questions Asked: </h3>
    <%= render partial: "user_questions", locals: {questions: @questions} %>
  <% else %>
    <h3> You have not asked any questions yet. <%= link_to "Ask", new_question_path %> a question now.</h3>
  <% end %>
</div>

<div class="question_list_container">
  <% if @user.answers.any? %>
    <h3> Questions Answered: </h3>
    <%= render partial: "user_questions", locals: {questions: @questions_answered} %>
  <% else %>
    <h3> You have not answered any questions yet. <%= link_to "Search", root_path %> for a question to answer. </h3>
  <% end %>
</div>


